<section id="about">
  <div class="user-details">
    <h1> Über mich </h1>
    <p>
      Von Kindesbeinen an war meine Begeisterung für Technologie unverkennbar. Nachdem ich meine Ausbildung als
      Fachinformatiker für Systemintegration mit Bravour absolviert hatte, widmete ich mich mit Leidenschaft und Engagement
      dem Ziel, kleinen und mittleren Unternehmen nicht nur die besten Lösungen, sondern auch das beste
      Preis-Leistungsverhätnis raus zu holen. Mein Anspruch ist es, für jeden meiner Kunden individuell und optimal
      zugeschnittene Technologie-Lösungen zu kreieren.
    </p>
  </div>
</section>

<section id="skills">
  <div class="user-details">
    <h1> Skills </h1>
    <p>
      Azure Cloud, Microsoft365, Virtualisierung mit VMware und Proxmox, Windows- und Linux Server, sowie
      Systemüberwachung mit Prometheus und Grafana sind meine Wohlfühlzone. Fundierte Kentnisse im bereich
      Hochverfügbarkeit, Sicherheit und Automatisierung sind mein Anspruch.
    </p>
    <i><img src="https://www.vectorlogo.zone/logos/microsoft_azure/microsoft_azure-ar21.svg" alt="azure" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/centos/centos-ar21.svg" alt="centos" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/debian/debian-ar21.svg" alt="debian" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/linux/linux-ar21.svg" alt="linux" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/redhat/redhat-ar21.svg" alt="redhat" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/ubuntu/ubuntu-ar21.svg" alt="ubuntu" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/microsoft/microsoft-ar21.svg" alt="microsoft" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/ansible/ansible-ar21.svg" alt="ansible" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/chocolatey/chocolatey-ar21.svg" alt="chocolatey" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-ar21.svg" alt="git" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/github/github-ar21.svg" alt="github" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/giteaio/giteaio-ar21.svg" alt="giteaio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/python/python-ar21.svg" alt="python" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/visualstudio_code/visualstudio_code-ar21.svg" alt="visualstudio_code" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-ar21.svg" alt="w3_html5" width="120" height="60" /></i>
    <i class="devicon-ssh-plain-wordmark colored"></i>
    <i><img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-ar21.svg" alt="gnu_bash" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/ceph/ceph-ar21.svg" alt="ceph" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/cloudflare/cloudflare-ar21.svg" alt="cloudflare" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/consulio/consulio-ar21.svg" alt="consulio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/docker/docker-ar21.svg" alt="docker" width="120" height="60" /></i>
    <i><img src="https://raw.githubusercontent.com/cncf/landscape/cbd60b639131566955d3e7ad230ec8fdc2c8a977/hosted_logos/podman.svg" alt="podman" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/grafana/grafana-ar21.svg" alt="grafana" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/haproxy/haproxy-ar21.svg" alt="haproxy" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/atlassian_jira/atlassian_jira-ar21.svg" alt="atlassian_jira" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/letsencrypt/letsencrypt-ar21.svg" alt="letsencrypt" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/mariadb/mariadb-ar21.svg" alt="mariadb" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/openmetricsio/openmetricsio-ar21.svg" alt="openmetricsio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-ar21.svg" alt="postgresql" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/prometheusio/prometheusio-ar21.svg" alt="prometheusio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/puppet/puppet-ar21.svg" alt="puppet" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/raspberrypi/raspberrypi-ar21.svg" alt="raspberrypi" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/redis/redis-ar21.svg" alt="redis" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/terraformio/terraformio-ar21.svg" alt="terraformio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/traefikio/traefikio-ar21.svg" alt="traefikio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/zabbix/zabbix-ar21.svg" alt="zabbix" width="120" height="60" /></i>
  </div>
</section>

<section id="cv"></section>
  <div class="user-details">
    <h1> CV und Projekte </h1>
    <h3> Dominik Lenhardt IT-Services (freelancer)</h3>
    <p>02.2023 -</p>
    <p>
      <i>Aufbau, Administration und Betrieb von IT-Infrastrukturen</i>
      <i>Beratung und Unterstützung bei der Einführung von neuen Produkten und Systmen</i>
      <i>Beratung im Bereich Security, Datenschutz und Virtualisierung</i>
    </p>
    <h3> RCW Reifengroßhandel GmbH, Leiter IT (angestellt)</h3>
    <p>04.2023 -</p>
    <p>
      <i>Neuausrichtung der IT an moderne Technologien und Prozesse</i>
      <i>Einführung von Microsoft365, Exchange Online, Teams, Sharepoint, Intune</i>
      <i>Neueinführung Warenwirtschafts- und Lagerverwaltungssystem</i>
      <i>Einführung Change Management Prozesse</i>
      <i>Einführung Security Awareness Schulungen</i>
    </p>
    
    <h3>ATLAS Dienstleistungen für Vermögensberatung GmbH, Linux System- und Azure Cloud Administrator</h3>
    <p>01.2017 – 03.2023</p>
    <p>
      <i>Administration der Linux basierten Basisdienste DNS, Proxy, HAproxy</i>
      <i>Systemüberwachung basiertend auf dem Prometheus Stack</i>
      <i>Azure Cloud Development & Administration</i>
      <i>Linux Serveradministration mittels Puppet & Ansible</i>
      <i>Betrieb sicherer und hochverfügbarer Systeme</i>
    </p>
    
    <h3>ATLAS Dienstleistungen für Vermögensberatung GmbH, Ausbildung</h3>
    <p>08.2014 – 01.2017</p>
    <p>
      <i>Ausbildung zum Fachinformatiker für Systemintegration</i>
      <i>Projektarbeit: Einführung eines automatisierten VMware deployments mittels Foreman und Puppet</i>
    </p>
    
    <h3>MVZ Nord GmbH, Teamkoordinator</h3>
    <p>08.2013 – 01.2014</p>
    <p>
      <i>Qualitätssicherung in der Abonentenzustellung</i>
    </p>
    
    <h3>ZVG West GmbH, Teamkoordinator</h3>
    <p>12.2012 – 08.2013</p>
    <p>
      <i>Einsatzplanung und Qualitätssicherung in der Abonentenzustellung</i>
    </p>
    
    <h3>Selbständiger Unternehmer im Verlagswesen, Geschäftsführer</h3>
    <p>02.2008 – 12.2012</p>
    <p>
      <i>Unterstützung von Verlagen in allen Geschäftsbereichen mit 48 Angestellten</i>
    </p>
    
    <h3>Grundwehrdienst, Soldat</h3>
    <p>04.2007-12.2007</p>
    <p>
      <i>Grundausbildung und Ausbildung zum Sicherungs- und Wachsoldaten im Fernmeldebereich</i>
    </p>
    
    <h3>ZVG West GmbH, Zeitungszusteller</h3>
    <p>10.2005-01.2007</p>
    <p>
      <i>Abonentenzustellung in Nachtschicht</i>
    </p>

    <h3>Julius-Leber-Schule</h3>
    <p>2003 – 2005</p>
    <p>
      <i>Abschluss: Mittlere Reife im Berufsfeld Wirtschaft und Verwaltung</i>
    </p>

  </div>
</section>