
<div class="user-details">
  <h1> Skills </h1>
</div>

<div class="user">
  <div class="user-details">
    <h2>Plattformen</h2>
    <i><img src="https://www.vectorlogo.zone/logos/microsoft_azure/microsoft_azure-ar21.svg" alt="azure" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/centos/centos-ar21.svg" alt="centos" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/debian/debian-ar21.svg" alt="debian" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/linux/linux-ar21.svg" alt="linux" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/redhat/redhat-ar21.svg" alt="redhat" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/ubuntu/ubuntu-ar21.svg" alt="ubuntu" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/microsoft/microsoft-ar21.svg" alt="microsoft" width="120" height="60" /></i>
  <div class="user-details">
    <h2>Code</h2>
    <i><img src="https://www.vectorlogo.zone/logos/ansible/ansible-ar21.svg" alt="ansible" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/chocolatey/chocolatey-ar21.svg" alt="chocolatey" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-ar21.svg" alt="git" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/github/github-ar21.svg" alt="github" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/giteaio/giteaio-ar21.svg" alt="giteaio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/python/python-ar21.svg" alt="python" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/visualstudio_code/visualstudio_code-ar21.svg" alt="visualstudio_code" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-ar21.svg" alt="w3_html5" width="120" height="60" /></i>
  </div>
  <div class="user-details">
    <h2>Software</h2>
    <i class="devicon-ssh-plain-wordmark colored"></i>
    <i><img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-ar21.svg" alt="gnu_bash" width="120" height="60"/></i>
    <i><img src="https://www.vectorlogo.zone/logos/ceph/ceph-ar21.svg" alt="ceph" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/cloudflare/cloudflare-ar21.svg" alt="cloudflare" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/consulio/consulio-ar21.svg" alt="consulio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/docker/docker-ar21.svg" alt="docker" width="120" height="60" /></i>
    <i><img src="https://raw.githubusercontent.com/cncf/landscape/cbd60b639131566955d3e7ad230ec8fdc2c8a977/hosted_logos/podman.svg" alt="podman" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/grafana/grafana-ar21.svg" alt="grafana" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/haproxy/haproxy-ar21.svg" alt="haproxy" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/atlassian_jira/atlassian_jira-ar21.svg" alt="atlassian_jira" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/letsencrypt/letsencrypt-ar21.svg" alt="letsencrypt" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/mariadb/mariadb-ar21.svg" alt="mariadb" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/openmetricsio/openmetricsio-ar21.svg" alt="openmetricsio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-ar21.svg" alt="postgresql" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/prometheusio/prometheusio-ar21.svg" alt="prometheusio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/puppet/puppet-ar21.svg" alt="puppet" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/raspberrypi/raspberrypi-ar21.svg" alt="raspberrypi" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/redis/redis-ar21.svg" alt="redis" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/terraformio/terraformio-ar21.svg" alt="terraformio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/traefikio/traefikio-ar21.svg" alt="traefikio" width="120" height="60" /></i>
    <i><img src="https://www.vectorlogo.zone/logos/zabbix/zabbix-ar21.svg" alt="zabbix" width="120" height="60" /></i>
  </div>
</div>
