
<div class="user-details">
  <h1> Skills </h1>
</div>

</div>
  <div class="user">
    <div class="tech">
      <h2>Plattformen</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-azure-plain colored"></i>
      <i class="devicon-centos-plain colored"></i>
      <i class="devicon-redhat-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-debian-plain colored"></i>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-sass-original colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-go-original-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Software</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-visualstudio-plain"></i>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-ssh-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-podman-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <i class="devicon-nginx-original colored"></i>
      <i class="devicon-grafana-original colored"></i>
      <i class="devicon-prometheus-original colored"></i>
      <i>Proxmox</i>
    </div>
  </div>
</div>
